* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body{
    background: grey url(./backgrond.png) no-repeat center center;
    background-size: cover;
}

kbd {
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    width: 72px;
    height: 70px;
    background: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-family: Arial;
    font-size: 24px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    margin: 0 8px;
}

kbd .text{
    position: absolute;
    top: 4px;
    left: 6px
}

.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 6px;
    bottom: 6px;
}

kbd>button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover>button {
    display: inline-block;
}

main {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    display: inline-block;
}

#main .row {
    margin: 12px;
}

#main>div:nth-child(2) {
    margin-left: -36px;
}

#main>div:nth-child(3) {
    margin-left: -98px;
}